.text {
    display: block;
    padding-top: 30vh;
    font-size: larger;
    padding-left: 9vw;
    justify-content: center;
    flex-grow: 1;
  }
  .image {
    display: flex;
    justify-content: center;
    background-image: url("images/image-mockups.png"), url("images/bg-intro-desktop.svg");
    background-position-y: -10vh, -30vh;
    background-repeat: no-repeat, no-repeat;
    background-position-x: 15vw, -3vw;
    flex-grow: 3;
  }
  .link {
    padding: 15px;
    border: none;
    text-align: center;
    border-radius: 1.5rem;
    width: 4vw;
    background-image:linear-gradient( hsl(136, 65%, 51%),  hsl(192, 70%, 51%))
  }
  .container2 {
    display: block;
    position: relative;
    top: -15vh;
    background-color: hsl(0, 0%, 98%);
    z-index: -1;
  }
  .boxes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 9vw;
    padding-top: 5vh;
  }
  .midBoxes {
    display: block;
  }
  .boxImages {
    padding: 2vh;
  }
  .container3 {
    display: block;
    position: relative;
    top: -5vh;
    width: 100vw;
  }
  .articles {
    display: flex;
    padding-left: 8vw;
    padding-right: 8vw;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
  }
  .articleBoxes {
    display: block;
    padding: 1vw;
  }
  .listImg {
    padding-bottom: 2vh;
    height: 20vh;
    width: 17vw;
  }
  footer {
    display: flex;
    justify-content: center;
    background-color: hsl(233, 26%, 24%);
    padding-top: 7vh;
    color: white;
  }
  .logos {
    position: relative;
    left: -30vw;
  }
  .deets {
    position: relative;
    padding-bottom: 7vh;
    left: -15vw;
  }
  .deets ul li a {
    color: white;
  }
  .deets2 ul li a {
    color: white;
  }
  li {
    list-style: none;
  }
  .button {
    position: relative;
    right: -20vw;
    padding: 15px;
    border: none;
    text-align: center;
    border-radius: 1.5rem;
    width: fit-content;
    height: fit-content;
    display: inline;
    color: white;
    background-image:linear-gradient( hsl(136, 65%, 51%),  hsl(192, 70%, 51%))
  }
  
  @media only screen and (max-width: 550px) {
    header {
      display: none;
    }
    .phoneNav {
      flex-flow: row-reverse;
      z-index: 5;
      display: flex;
      gap: 30vw;
      padding: 2vh;
    }
    body {
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    header {
      text-align: center;
    }
    .link {
      position: relative;
      left: 18vw;
    }
    .container1 {
      position: relative;
      display: block;
      height: 90vh;
      top: 5vh;
      text-align: center;
      z-index: 1;
      
  }
  .link{
    position: relative;
    left:0vw;
  }
  .text {
    display: block;
    padding-top: 0vh;
    font-size: larger;
    padding-left: 9vw;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    top:30vh;
  }
    .container2 {
      display: block;
      position: relative;
      flex-direction: column;
      justify-content: center;
      top: -5vh;
      background-color: hsl(0, 0%, 98%);
      z-index: -1;
    }
    .boxes {
      display: block;
      grid-template-columns: auto auto auto auto;
      padding-left: 9vw;
      padding-top: 5vh;
    }
    .articles {
      display: block;
      padding-left: 8vw;
      padding-right: 8vw;
      justify-content: center;
      background-color: hsl(0, 0%, 98%);
      position: relative;
  
    }
    .listImg {
      padding-bottom: 2vh;
      height: 20vh;
      width: 80vw;
    }
    footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      background-color: hsl(233, 26%, 24%);
      padding-top: 7vh;
      color: white;
    }
    .logos {
      position: relative;
      width: 100vw;
      left: 30vw;
      padding: 0;
      padding: 1vw;
    }
    .deets {
      position: relative;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-left: 15vw;
      width: 100vw;
      padding-top: 2vh;
    }
    .deets2 {
      position: relative;
      display: flex;
      justify-content: center;
      padding-bottom: 2vh;
      margin-left: 8vw;
      padding-bottom: 5vh;
    }
    .smallLogos {
      padding: 2vw;
      scale: 1.2;
    }
    .deets ul li {
      padding: 0.5vh;
    }
    .deets2 ul li {
      padding: 0.5vh;
    }
    .button {
      position: relative;
      margin-left: 10vw;
      margin-bottom: 10vh;
      width: 40vw;
    }
    .mediaLogos {
      position: relative;
      left: -5vw;
    }
    .phoneImage{
      display: flex;
      background-image:url("images/image-mockups.png"),url('images/bg-intro-mobile.svg');
      background-size: 90%, cover;
      background-repeat: no-repeat;
      background-position-y: -12vh, -7vh;
      background-repeat: no-repeat, no-repeat;
      background-position-x: 4vw, -0;
      height: 30vh;
      width: 100vw;
      position:absolute;
      z-index: 1;
      top:8vh;
    }
    .boxImages{
      position: relative;
    }
    .midBoxes
    {
      text-align: center;
      padding: 2vw;
    }
    .container3{
      padding-top: 10vh;
      text-align: center;
      padding-left: 0;
    }
  
  }
  